<template>
  <q-layout>
    <q-page-container id="auth-module">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'AuthLayout'
}
</script>

<style lang="scss" src="../scss/auth-layout.scss" scoped></style>
