<template>
  <q-page id="guest-page">
    <div
      id="dark-mode"
      class="fixed-top-right q-mr-md q-mt-md"
    >
      <label>
        <q-toggle
          :model-value="$q.dark.isActive"
          @click="$q.dark.toggle"
        ></q-toggle> {{ trans('Dark mode') }}
      </label>
    </div>

    <div
      id="center-container"
      class="fixed-center"
    >
      <div class="text-center q-mb-md">
        <img
          id="logo"
          src="~assets/logo.png"
        />
      </div>

      <q-card bordered>
        <q-card-section>
          <h1
            v-if="title"
            id="title"
            class="text-h4 q-mt-none q-mb-xl"
          >{{ title }}</h1>

          <q-form
            ref="form"
            class="q-gutter-md"
            enctype="multipart/form-data"
            method="post"
            @submit.prevent="$emit('submit')"
          >
            <slot></slot>
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'GuestPage',
  props: {
    title: {
      type: String,
      required: true,
      default: ''
    }
  }
}
</script>

<style lang="scss" src="../scss/guest-page-component.scss"></style>
