#guest-page {
  #dark-mode {
  }

  #center-container {
    text-align: center;
    width: 320px;
    max-width: 100%;

    img#logo {
    }

    h1#title {
    }

    a {
      color: inherit;
    }
  }
}
