<template>
  <GuestPage
    ref="page"
    :title="trans('Forgot password')"
    @submit="sendEmail"
  >
    <q-input
      id="email-address-field"
      type="email"
      :label="trans('Email address')"
      v-model="user.email"
      :rules="rules.email"
      outlined
    />

    <q-btn
      id="reset-button"
      :label="trans('Send reset email')"
      color="primary"
      type="submit"
    />

    <div id="cancel">
      <router-link :to="{ name: 'auth.login' }">
        {{ trans('Cancel') }}
      </router-link>
    </div>
  </GuestPage>
</template>

<script>
import mixin from './mixin'

export default {
  name: 'ForgotPasswordPage',
  mixins: [mixin],
  computed: {
    rules () {
      return this.$lsv.rulesAsFunctionArray({ email: 'required|email' }, null, this.user)
    }
  },
  methods: {
    sendEmail () {
      this.tryCatch(async () => {
        // await this.$backend.get('/sanctum/csrf-cookie')
        await this.$backend.Auth.post('/password/email', this.user)

        this.notify(this.trans('A password reset email has been sent to you.'))
        this.user.email = ''

        this.$refs.page.$refs.form.reset()
      })
    }
  }
}
</script>

<style lang="scss" src="../scss/forgot-password-page.scss" scoped></style>
