<template>
  <GuestPage
    :title="trans('Login')"
    @submit="login"
  >
    <q-input
      id="email-address-field"
      :label="trans('Email address')"
      type="email"
      v-model="user.email"
      :rules="rules.email"
      outlined
    />

    <q-input
      class="q-pb-none"
      id="password-field"
      :label="trans('Password')"
      type="password"
      v-model="user.password"
      :rules="rules.password"
      outlined
    />

    <div
      id="forgot-password"
      class="q-mt-sm"
    >
      <router-link :to="{ name: 'auth.forgot-password' }">
        {{ trans('Reset password') }}
      </router-link>
    </div>

    <q-btn
      color="primary"
      id="login-button"
      :label="trans('Login')"
      type="submit"
    />

    <div id="dont-have-an-account">
      <router-link :to="{ name: 'auth.register' }">
        {{ trans('Don\'t have an account? Register') }}
      </router-link>
    </div>
  </GuestPage>
</template>

<script>
import mixin from './mixin'

export default {
  name: 'LoginPage',
  mixins: [mixin],
  computed: {
    rules () {
      return this.$lsv.rulesAsFunctionArray({
        email: 'required|email',
        password: 'required|string'
      }, null, this.user)
    }
  },
  methods: {
    login () {
      this.tryCatch(async () => {
        await this.$backend.get('/sanctum/csrf-cookie')

        const { data } = await this.$backend.Auth.post('/login', this.user)

        this.notify(this.trans('Login successful'))
        this.loggedIn(data.token)
      })
    }
  }
}
</script>

<style lang="scss" src="../scss/login-page.scss" scoped></style>
