<template>
  <GuestPage
    :title="trans('Register')"
    @submit="register"
  >
    <q-input
      id="email-address-field"
      :label="trans('Email address')"
      type="email"
      v-model="user.email"
      :rules="rules.email"
      outlined
    />

    <q-input
      id="password-field"
      :label="trans('Password')"
      type="password"
      v-model="user.password"
      :rules="rules.password"
      outlined
    />

    <q-btn
      color="primary"
      id="register-button"
      :label="trans('Register')"
      type="submit"
    />

    <div id="have-an-account">
      <router-link :to="{ name: 'auth.login' }">
        {{ trans('Already have an account? Log in') }}
      </router-link>
    </div>
  </GuestPage>
</template>

<script>
import mixin from './mixin'

export default {
  name: 'RegisterPage',
  mixins: [mixin],
  computed: {
    rules () {
      return this.$lsv.rulesAsFunctionArray({
        email: 'required|email',
        password: 'required|string'
      }, null, this.user)
    }
  },
  methods: {
    register () {
      this.tryCatch(async () => {
        await this.$backend.get('/sanctum/csrf-cookie')

        const { data } = await this.$backend.Auth.post('/register', this.user)

        this.notify(this.trans('Registration successful'))
        this.loggedIn(data.token)
      })
    }
  }
}
</script>

<style lang="scss" src="../scss/register-page.scss" scoped></style>
