<template>
  <GuestPage
    :title="trans('Reset password')"
    @submit="reset"
  >
    <q-input
      v-if="!email"
      id="email-address-field"
      type="email"
      :label="trans('Email address')"
      v-model="user.email"
      :rules="rules.email"
      outlined
    />

    <q-input
      id="password-field"
      :label="trans('Password')"
      type="password"
      v-model="user.password"
      :rules="rules.password"
      outlined
    />

    <q-btn
      id="reset-button"
      :label="trans('Reset password')"
      class="q-mb-md"
      color="primary"
      type="submit"
    />
  </GuestPage>
</template>

<script>
import mixin from './mixin'

export default {
  name: 'ResetPasswordPage',
  mixins: [mixin],
  computed: {
    email () {
      return this.$route.query.email
    },
    rules () {
      return this.$lsv.rulesAsFunctionArray({
        email: 'required|email',
        password: 'required|string'
      }, null, this.user)
    },
    token () {
      return this.$route.query.token
    }
  },
  created () {
    this.user.email = this.email
    this.user.token = this.token
  },
  methods: {
    reset () {
      this.tryCatch(async () => {
        await this.$backend.get('/sanctum/csrf-cookie')

        this.user.password_confirmation = this.user.password
        const { data } = await this.$backend.Auth.post('/password/reset', this.user)

        this.notify(this.trans('Your password has been reset'))
        this.loggedIn(data.token)
      })
    }
  }
}
</script>

<style lang="scss" src="../scss/reset-password-page.scss" scoped></style>
