<template>
  <GuestPage :title="trans('Verifying email')">
    <div
      v-if="!code"
      id="no-code"
    >
      {{ trans('Invalid verification code') }}
    </div>

    <div
      v-else-if="verified"
      id="login"
    >
      {{ trans('Your email has been verified.') }}

      <router-link :to="{ name: 'auth.login' }">
        {{ trans('Continue to login') }}
      </router-link>
    </div>
  </GuestPage>
</template>

<script>
export default {
  name: 'VerifyEmailPage',
  data () {
    return {
      verified: false
    }
  },
  computed: {
    code () {
      return this.$route.query.code
    }
  },
  created () {
    if (!this.code) {
      return
    }

    this.verify()
  },
  methods: {
    verify () {
      this.tryCatch(async () => {
        this.$q.loading.show()

        await this.$backend.Auth.post('/email/verify', { code: this.code })
        this.verified = true

        this.$q.loading.hide()
      })
    }
  }
}
</script>

<style lang="scss" src="../scss/verify-email-page.scss" scoped></style>
